RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php [L,QSA]

<FilesMatch "\.(php)$">
    Deny from all
</FilesMatch>

<FilesMatch "^index\.(php)$">
    Allow from all
</FilesMatch>

Options -Indexes
